@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main{
  margin: 0 10vw;
}

.App-link {
  color: #61dafb;
}

.next-btn{
  @apply block bg-blue-500 text-white border-2 border-white p-2 rounded-lg text-base hover:bg-blue-900 focus:border-2 focus:border-sky-200;
}

.back-btn{
  @apply block bg-white text-blue-500 border-2 border-blue-500 p-2 rounded-lg text-base hover:bg-white focus:outline-2 focus:outline-sky-900 focus:outline-offset-2
}

.back-btn:disabled{
  @apply text-slate-500 border-slate-500;
}

.next-btn:disabled{
  @apply bg-slate-500 text-white border-none hover:bg-slate-500;
}

form{
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

input[type=text]{
  @apply  rounded w-full py-2 px-3 text-gray-700 leading-tight border-2 border-slate-200 focus:outline-blue-500;
}

input[type=text]:read-only{
  @apply bg-slate-100 text-slate-500 focus:outline-none
}
label{
  @apply text-sm text-slate-900
}

h1{
  @apply font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600
}

h2{
  @apply font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600
}

h3{
  @apply font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600
}

h4{
  @apply font-medium leading-tight text-2xl mt-0 mb-2 text-blue-600
}

h5{
  @apply font-medium leading-tight text-xl mt-0 mb-2 text-blue-600
}

h6{
  @apply font-medium leading-tight text-base mt-0 mb-2 text-blue-600
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
